<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:gnome="http://api.gnome.org/doap-extensions#"
  xmlns="http://usefulinc.com/ns/doap#">

  <name xml:lang="en">terminal</name>
  <shortdesc xml:lang="en">Xfce Terminal Emulator</shortdesc>
  <homepage rdf:resource="http://goodies.xfce.org/projects/applications/terminal"/>
  <mailing-list rdf:resource="http://foo-projects.org/mailman/listinfo/goodies-dev"/>

  <maintainer>
    <foaf:Person>
      <foaf:name>Nick Schermer</foaf:name>
      <foaf:mbox>mailto:nick@xfce.org</foaf:mbox>
      <gnome:userid>nick</gnome:userid>
    </foaf:Person>
  </maintainer>

  <developer>
    <foaf:Person>
      <foaf:name>Benedikt Meurer</foaf:name>
      <foaf:mbox>mailto:benny@xfce.org</foaf:mbox>
      <gnome:userid>benny</gnome:userid>
    </foaf:Person>
  </developer>
</Project>
