[Desktop Entry]
Encoding=UTF-8
Name=Terminal
Name[am]=ተርሚናል
Name[ar]=شاشة طرفية
Name[be]=Тэрмінал
Name[bg]=Терминал
Name[bn]=টার্মিন্যাল
Name[cs]=Terminál
Name[cy]=Terfynell
Name[el]=Τερματικό
Name[eu]=Terminala
Name[fa]=پایانه
Name[fi]=Pääte
Name[ga]=Terminéal
Name[gu]=ટર્મિનલ
Name[he]=מסוף
Name[hi]=टर्मिनल 
Name[hu]=Terminál
Name[it]=Terminale
Name[lt]=Terminalas
Name[lv]=Terminālis
Name[mk]=Терминал
Name[mn]=Терминал
Name[pa]=ਟਰਮੀਨਲ
Name[pt]=Consola
Name[pt_BR]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sq]=Terminali
Name[sr]=Терминал
Name[sr@Latn]=Terminal
Name[ta]=முனையம்
Name[th]=เทอร์มินอล
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[wa]=Terminå
Name[zh_CN]=终端
Name[zh_TW]=終端機
Comment=Terminal Emulator
Comment[de]=Terminal-Programm
Comment[et]=Terminaliemulaator
Comment[fr]=Émulateur de terminal
Comment[nl]=Terminal-emulatieprogramma
Comment[pl]=Program terminala
Comment[pt]=Programa de Terminal
Comment[zh_CN]=终端程序
Comment[zh_TW]=終端機程式
Exec=Terminal
Icon=Terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
StartupNotify=true

# vi:set encoding=UTF-8:
