[Desktop Entry]
Encoding=UTF-8
Name=Terminal
Name[pt]=Consola
Name[zh_CN]=终端
Name[zh_TW]=終端機
Comment=Terminal Emulator
Comment[de]=Terminal-Programm
Comment[fr]=Ligne de commande
Comment[nl]=Terminalprogramma
Comment[pl]=Program terminala
Comment[pt]=Programa de Terminal
Comment[zh_CN]=终端程序
Comment[zh_TW]=終端機程式
Exec=Terminal
Icon=terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
