body
{
  margin: 2em;
}

h1,h2,h3
{
  color: #9c0000;
}

a
{
  color: #000000;
}

a:hover
{
  color: #3c3c3c;
  border-bottom: 1px dotted #dc0000;
}

hr
{
  background-color: #dc0000;
}

li
{
  list-style-type: square;
}

.programlisting
{
  background-color: #F8F9FD;
  border-color: #907777;
  border-width: 1px;
  border-style: solid;
  padding: 0.5em;
}

.screen
{
  background-color: #F8F9FD;
  border-color: #907777;
  border-width: 1px;
  border-style: solid;
  padding: 0.5em;
}

/* vim:set ts=2 sw=2 et ai: */
