Source: terminal
Section: x11
Priority: optional
Maintainer: Benedikt Meurer <bm@os-cillation.de>
Uploaders: Benedikt Meurer <bm@os-cillation.de>
Build-Depends: debhelper (>= 4.0.0), libexo-dev (>= 0.1.0), libvte-dev (>= 0.11.11)
Standards-Version: 3.6.1

Package: terminal
Architecture: any
Depends: ${shlibs:Depends}, libstartup-notification0, libexo-0 (>= 0.1.0), libvte4 (>= 0.11.11)
Provides: x-terminal-emulator
Description: The Terminal emulator application.
 This package contains Terminal, which is an easy to use terminal emulator
 for X11. It was created to fit nicely into the Xfce desktop environment,
 but it also fits nice with other environments.
 .
 For people that already know GNOME 2 terminal and are searching for a
 lighter but comparable replacement, Terminal might be the answer.
