#!/usr/bin/make -f

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:

	dh_testdir
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --sysconfdir=/etc --libexecdir=/usr/sbin
	touch configure-stamp

build: configure build-stamp
build-stamp:
	
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	
	dh_testdir
	dh_testroot
	
	-rm -f configure-stamp build-stamp 

	-$(MAKE) distclean
	-test -r /usr/share/misc/config.sub && \
	  cp -f /usr/share/misc/config.sub config.sub
	-test -r /usr/share/misc/config.guess && \
	  cp -f /usr/share/misc/config.guess config.guess

	dh_clean

install: build

	dh_testdir
	dh_testroot
	dh_clean -k

	$(MAKE) install DESTDIR=`pwd`/debian/xterminal

	install -c -m 0755 `pwd`/debian/Terminal.wrapper `pwd`/debian/xterminal/usr/bin

	install -d `pwd`/debian/xterminal/usr/share/man/man1
	install `pwd`/debian/Terminal.1 `pwd`/debian/xterminal/usr/share/man/man1

	ln -s Terminal `pwd`/debian/xterminal/usr/bin/xterminal
	ln -s Terminal `pwd`/debian/xterminal/usr/bin/xfce4-terminal

binary-indep: build install
binary-arch: build install
	
	dh_testdir
	dh_testroot

	dh_installdocs -a AUTHORS COPYING HACKING NEWS README TODO
	dh_installmenu -a

	dh_installchangelogs ChangeLog -a
	dh_strip -a
	dh_compress -a
	
	dh_fixperms -a
	dh_installdeb -a
	
	dh_shlibdeps -a
	dh_gencontrol -a
	
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
